body{
  font-family: Arial;
  padding:20px;
  background:#f4f4f4;
}

input{
  display:block;
  margin:10px 0;
  padding:10px;
  width:300px;
}

button{
  padding:10px 20px;
  cursor:pointer;
}